.hidden{
    display: none;
}
body{
    background-repeat: no-repeat;
    background-size: 100%;
}
#container {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
  
    text-align: center;
    display: block;
    position: relative;
    padding: 20px 30px;
    margin: 100px auto 0;
    margin-top: 50px;
    margin-left: 230px;
    font-size: 17px;
    line-height: 35px;
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    border: 10px solid rgba(255, 0, 0, .2);
    width: 60%;
    height: 50%;
    background-color: white;
    background-color: rgba( 255, 255, 255, 0.3 );

  }
  #container:hover {
    border-top-right-radius: 37px 140px;
    border-bottom-left-radius: 23px 130px;
    border-bottom-right-radius: 110px 19px;
    border-top-left-radius: 120px 24px;
    border: 10px solid rgba(255, 0, 0, 0.5);
    
}
button{
    margin-left: 15px;
}
input {
    
    font-size: 15px;
    border: 0;
    border-radius: 15px;
    outline: none;
    padding-left: 10px;
    background-color: rgb(233, 233, 233);
  }
  :root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}



#clock{
    text-align: center;
    font-weight:bold;
    font-size: 170%;
    opacity: 0.4;
    position: absolute;
        
        left: 50%;
        transform: translate(-50%, -50%);
        font-size:300px;
          letter-spacing:0.1em;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 3px;
        -webkit-text-stroke-color: white;
        text-shadow: 8px 8px #ff1f8f,
                    20px 20px #000000;
}
h1{
    font-size: 50px;
    text-align: center;
    line-height: 15vh;
    color: #fcedd8;
        font-family: 'Niconne', cursive;
    font-weight: 700;
    text-shadow: 1px 1px 0px #eb452b, 
            3px 3px 0px #efa032, 
            5px 5px 0px #46b59b, 
            7px 7px 0px #017e7f, 
            9px 9px 0px #052939, 
            10px 10px 0px #c11a2b, 
            11px 11px 0px #c11a2b, 
            12px 12px 0px #c11a2b, 
            13px 13px 0px #c11a2b;
}
p{
    color: white;
    text-shadow: 2px 2px 0px #eb452b, 
            3px 3px 0px #efa032,
            4px 4px 0px #017e7f;

}